{% extends 'home.html' %}

{% block I %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/aboutus">Informacion</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
{% endblock %}

{% block list%}
<table class="table text-white">
    <thead>
        <tr>
            <td>Valor</td>
            <td>Nombre</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        {% for Jugador in object_list %}
        <tr>
            <td>{{ Jugador.valor }}</td>
            <td>{{ Jugador.nombre }}</td>
            <td>
                <button class="btn btn-success"><a class="text-white" href="/Transaccion">Comprar</a></button>
            </td>
        </tr>
        {% endfor %}

        {% else %}
        <h1>Los jugadores estan de vacaciones</h1>
        {% endif %}
    </tbody>
</table>
{% endblock %}

{% block link %}
{% endblock %}



