body {
    background-color: #11112a;
    color: white;
}

.jug {
    background-color: #b8b60e;
    margin-left: 1100px;
    margin-top: 400px;

}

.barra{
    margin-top: 0px
    margin-bottom: 370px;
}

.tabla {
    border: 1px solid #000;
    text-align: center;
    background-color: #292965;
}

tr, td {
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   background-color: #292960;
}

.A{
    background-color: #292960;
    margin-right: 1100px;
}
.B{
    color: white;
    margin-left: 10px;
    margin-bottom: 370px;
}
.C{
    color: white;
    margin-left: 10px;
    margin-bottom: 370px;
}
.D{
    margin-left: -25px;
    margin-top: -20px;
}

.white{
    color: white;
}