<!DOCTYPE html>
{% extends 'home.html' %}
{% block I %}

<div style="margin-top:90px ; margin-left:400px ; margin-right:400px ; background-color:lavender ; border-radius:5px">
    <form class="text-black"  method="post">
        {% csrf_token %}
        <h3 class="text-black" style="text-align:center ">Iniciar sesion</h3>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label style="margin-left:80px">Nombre de usuario</label>
                    <input class="form-control" style="margin-left:80px" type="text" name="username">
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label style="margin-left:80px">Contraseña</label>
                    <input class="form-control" style="margin-left:80px" type="password" name="password">
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2" style="margin-left:80px">
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Ingresar">
                    <button class="btn btn-success"><a class="text-white" href="/UserCreate"> Crear cuenta </a></button>
                    <button class="btn btn-danger"><a class="text-white" href="/"> Cancelar </a></button>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">

                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}